<footer>
    <div class="container">
        <p class="footer-info">Copyright © 2018 | {{company.name}}
            <span class="social pull-right">
                {{#if company.facebook}}
                <a href="{{company.facebook}}" target="_blank"><i class="fab fa-facebook-f"></i></a>
                {{/if}}
                {{#if company.linkedIn}}
                <a href="{{company.linkedIn}}" target="_blank"><i class="fab fa-linkedin"></i></a>
                {{/if}}
                {{#if company.instragram}}
                <a href="{{company.instragram}}" target="_blank"><i class="fab fa-instagram"></i></a>
                {{/if}}
            </span>
        </p>
    </div>
</footer>