<!DOCTYPE html>
<html lang="en">
<head>
{{> head}}
</head>
<body>
    {{> header}} 
  
    <div id="page-content" class="container">
        <div class="section-w-image">
            <div class="row">
                <div class="col-sm-6 about-me-img" style="background-image: url({{body.background}});">
                </div>
                <div class="col-sm-6 col-sm-offset-6 about-description">
                    <h4>ABOUT US</h4>
                    {{{body.content}}}
                </div>
            </div>
        </div>

        <div class="space-50">&nbsp;</div>

        <div class="typography">
            <div class="row">
                <div class="col-sm-6">
                    <h4 class="sub-title">Testimonials</h4>
                    <blockquote>
                        <p>Big thanks to Ross at RAM. Sorted my kitchen after some inexperienced kitchen fitter made a mess of it and plained all of my doors after getting carpets fitted. Perfect job and great price 👍</p>
                        <cite>- NP, Alexandria (Facebook)</cite>
                    </blockquote>
                </div>

                <div class="col-sm-6">
                    <h4 class="sub-title">&nbsp;</h4>
                    <blockquote class="blockquote">
                        <p>Lovely wooden gazebo finished today by RAM property services. Thanks again for all your hard work 👍</p>
                        <cite>- CL, Alexandria (Facebook)</cite>
                    </blockquote>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h4 class="sub-title">&nbsp;</h4>
                    <blockquote>
                        <p>Great workmanship great price 100% professionalism. Highly recommended. thanks for a great job.</p>
                        <cite>- TH, Dumbarton (Facebook)</cite>
                    </blockquote>
                </div>

                <div class="col-sm-6">
                    <h4 class="sub-title">&nbsp;</h4>
                    <blockquote class="blockquote">
                        <p>Delighted with the work completed by Ram Property Services. Would definitely recommend!</p>
                        <cite>- LE, Alexandria (Facebook)</cite>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    {{> footer}}
    {{> footerScripts}}
</body>
</html>