<!DOCTYPE html>
<html lang="en">
<head>
{{> includes/head}}
</head>
<body>
    {{> includes/header}} 
    <section id="portfolio">
        <div class="container">
            <ul class="row portfolio list-unstyled lightbox" id="grid">
                {{#panels}}
                <li class="col-xs-6 col-md-4 project m-project">
                    <div class="img-bg-color primary">
                        <a href="single-project.html" class="project-link"></a>
                        <img src="https://placeimg.com/1200/900/arch?i={{this}}" alt="">
                        <div class="project-hover-tools">
                            <a href="single-project.html" class="view-btn">
                                <i class="lnr lnr-eye"></i>
                            </a>
                            <a href="https://placeimg.com/1200/900/arch?i={{this}}" class="open-gallery">
                                <i class="lnr lnr-frame-expand"></i>
                            </a>
                        </div>
                        <div class="project-details">
                            <h5 class="project-title">PROJECT TITLE</h5>
                            <p class="skill">SKILLS</p>
                        </div>
                    </div>
                </li> 
                {{/panels}}
                <li class="col-xs-6 col-md-4 shuffle_sizer"></li>      
            </ul>
        </div>

    </section>
    {{> includes/footer}}
    {{> includes/footerScripts}}
</body>
</html>